@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background-color: rgb(75, 75, 75);
	height: 100vh;
	/*Vh significa que a coloração fica 100% da pág*/
	font-family: "Montserrat", serif;
	font-size: 1em;
	font-weight: 400;
}

.interface {
	max-width: 2560px;
	/*Tamanho da resolução do site */
	margin: 0 auto;
}

h1 {
	color: rgb(0, 128, 0);
}

.btn-contato button {
	text-decoration: none;
	background: #1a7628;
	padding: 5px 10px 5px 10px;
	color: rgb(255, 255, 255);
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
}
.frmcontato {
	color: rgb(0, 0, 0);
	border-radius: 5px;
}